<h1> My Cart </h1>
<section id="cart-summary">
    <%= cart.contents.each do |item_id, quantity|%>
      <section id= "cart-item-<%=item_id%>">
        <%= item = Item.find(item_id) %>
        <p><%= item.name %></p>
        <img src= <%= item.image %>>
        <p><%= item.merchant.name %></p>
        <p><%= item.price %></p>
        <p>Quantity: <%= quantity %></p>
        <p>Subtotal: $<%= quantity * item.price%></p>
      </section>
    <% end %>

    <section id="cart-total">
      <p> Total: $<%= cart.contents.sum do |item_id, quantity|%></p>
      <%=  (Item.find(item_id)).price * quantity.to_f %>
      <% end %>
    </section>
  </section>
